.AnswerToQuestionModalPage
{
    width: 522px;
    height: 871px;
    margin-top: 50px;
    border-radius: 20px;
    z-index: 1;
    background-color: #FFFf;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .removeModalBtn 
    {
        position: absolute;
        align-self: flex-end;
        margin-right: 10px;
        margin-top: 10px;
        border: none;
        font-size: 35px;
        color: white;
        transition: 0.2s color;
        background-color: transparent;
        &:hover 
        {
            color:  rgba(0,0,0,0.8);
            transition: 0.2s color;
        }
    }
    .questionPart
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 96px;
        background-color: #125a9b;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: white;
    }
    .answerPart
    {
        display: flex;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 32px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #5b4b41;
    }
}

@media screen and (max-width:600px) {
    .AnswerToQuestionModalPage
    {
        width: 100%;
        height: 871px;
        margin-top: 0px;
        border-radius: 0px;
    }
}