.moreAbout
    {
        border: none;
        width: 120px;
        height: 40px;
        border-radius: 25px;
        background-color: #085096;
        color: white;
        font-size: 18px;
    }
.moreAbout:disabled {
    background-color: #dddddd !important;
    cursor: auto;
}