.cardSlider1 {
  width: 560px;
  height: 344px;
  border-radius: 20px;
  -webkit-transition: 1s -webkit-box-shadow;
  transition: 1s -webkit-box-shadow;
  transition: 1s box-shadow;
  transition: 1s box-shadow, 1s -webkit-box-shadow;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cardSlider1 .cardSlider2 {
  width: 560px;
  height: 344px;
  border-radius: 20px;
  -webkit-transition: 1s -webkit-box-shadow;
  transition: 1s -webkit-box-shadow;
  transition: 1s box-shadow;
  transition: 1s box-shadow, 1s -webkit-box-shadow;
  overflow: hidden;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.cardSlider1:hover {
  -webkit-box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 1s -webkit-box-shadow;
  transition: 1s -webkit-box-shadow;
  transition: 1s box-shadow;
  transition: 1s box-shadow, 1s -webkit-box-shadow;
}

.cardSlider1 .textCont {
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
}

.cardSlider1 .textCont h4, .cardSlider1 .textCont p {
  margin: 0px;
  padding: 0px;
}

.cardSlider1 .textCont .title {
  font-size: 27px;
  height: 30px;
  color: white;
  padding-left: 4%;
  padding-bottom: 8px;
  width: 92%;
  padding-right: 4%;
}

.cardSlider1 .textCont .desc {
  font-size: 15px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
  padding-left: 4%;
  white-space: nowrap;
  padding-bottom: 8px;
  width: 92%;
  padding-right: 4%;
}

.cardSlider1 .moreAbout {
  margin-right: 15px;
  margin-bottom: 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cardSliderDefault {
  background-color: #f3f0eb;
  width: 560px;
  height: 344px;
  border-radius: 20px;
  -webkit-transition: 1s -webkit-box-shadow;
  transition: 1s -webkit-box-shadow;
  transition: 1s box-shadow;
  transition: 1s box-shadow, 1s -webkit-box-shadow;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cardSliderDefault .skeleton1 {
  margin-top: 20px;
}

.cardSliderDefault .skeleton2 {
  margin-top: 20px;
}

.cardSliderDefault .textCont {
  height: 200px;
  padding: 40px;
  text-align: start;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 100px 40px;
      grid-template-rows: 40px 100px 40px;
  margin-top: 20px;
  width: 280px;
}

.cardSliderDefault .textCont h4, .cardSliderDefault .textCont p {
  margin: 0px;
  padding: 0px;
}

.cardSliderDefault .textCont .title {
  font-size: 27px;
  height: 30px;
  color: white;
}

.cardSliderDefault .textCont .desc {
  font-size: 15px;
  color: white;
}

.cardSliderDefault .moreAbout {
  margin-right: 25px;
  margin-bottom: 25px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/*# sourceMappingURL=cardSlider1.css.map */