.checkoutPage
{
    width: 598px;
    height: 580px;
    background-color: #fff;
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    z-index: 1;
    flex-direction: column;
    .goToPayment
    {
        border: none;
        width: 200px;
        height: 40px;
        border-radius: 25px;
        background-color: #085096;
        color: white;
        font-size: 18px;
        align-self: center;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .removeModalBtn 
    {
        float: right;
        border: none;
        font-size: 45px;
        color: rgba(0,0,0,0.5);
        transition: 0.2s color;
        background-color: transparent;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        &:hover 
        {
            color:  rgba(0,0,0,0.8);
            transition: 0.2s color;
        }
    }
    .title
    {
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 23px;
    }
    .inputCont
    {
        display: flex;
        width: 100%;
        justify-content: space-between;
        input 
        {
            width: 270px;
            height: 50px;
            padding-left: 10px;
            border: 1px solid lightgray;
            border-radius: 5px;
        }
    }
    .address
    {
        width: 98%;
        padding-left: 2%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid lightgray;
    }
    .errors 
    {
        display: flex;
        flex-direction: column;
        color: red;
        row-gap: 5px;
    }
    .typeOfPayment
    {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 10px;
        input 
        {
            width: 20px;
            height: 20px;
            margin: 0px;
            padding: 0px;
        }
        .type1 , .type2 , .type3
        {
            display: flex;
            align-items: center;
            column-gap: 10px;
            
        }
    }
    .moreAbout 
    {
        align-self:flex-end;
        width: 200px;

    }
}

@media screen and (max-width:650px) {
    .checkoutPage
    {
        width: 100%;
        height: 100vh;
        form 
        {
            display: flex;
            flex-direction: column;

        }
        margin-top: 0px;
        .inputCont
        {
            flex-direction: column;
            row-gap: 20px;
            input 
            {
                width: 98%;
            }
        }
        .typeOfPayment
        {
            justify-content: flex-start;
            row-gap: 20px;
            .type1 , .type2 , .type3
            {
                width: 45%;        
                justify-content: center;     
                label 
                {
                    width: 100px;
                }   
            }
        }
        .goToPayment 
        {
            align-self:center;
            margin-top: 40px;
        }
    }
}