.checkoutPage {
  width: 598px;
  height: auto;
  overflow-y: auto;
  margin-top: 0px;
  border-radius: 10px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  /* Track */
  /* Handle */
}

.checkoutPage::-webkit-scrollbar {
  width: 3px;
}

.checkoutPage::-webkit-scrollbar-thumb {
  background: gray;
}

.checkoutPage form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  background-color: #fff;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.checkoutPage .datesCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 10px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkoutPage .datesCont .checkBoxDateCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  border-radius: 10px;
  font-size: 18px;
  background: transparent;
  border: none;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}

.checkoutPage .datesCont label {
  width: 100%;
}

.checkoutPage .titleB {
  margin-bottom: 0px;
}

.checkoutPage .goToPayment {
  border: none;
  width: 200px;
  height: 40px !important;
  border-radius: 25px;
  background-color: #085096;
  color: white;
  font-size: 18px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkoutPage .addAddress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.checkoutPage .addAddress input {
  border-radius: 10px;
  font-size: 12px !important;
  background: transparent !important;
  border: none !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}

.checkoutPage .addAddress input:focus {
  outline: none;
}

.checkoutPage .addAddress select {
  border-radius: 10px;
  font-size: 12px !important;
  background: transparent !important;
  border: none !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}

.checkoutPage .addAddress select:focus {
  outline: none;
}

.checkoutPage .addressElement {
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: black !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
}

.checkoutPage .selectdateDelivery {
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: black !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
}

.checkoutPage .selectPayment {
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: black !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  width: 100%;
}

.checkoutPage .removeModalBtn {
  float: right;
  border: none;
  font-size: 45px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
  background-color: transparent;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0px;
}

.checkoutPage .removeModalBtn:hover {
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

.checkoutPage .title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 23px;
  margin-top: 0px;
}

.checkoutPage .titleBB {
  margin-bottom: 10px;
}

.checkoutPage .title2, .checkoutPage .title1 {
  width: 100%;
  text-align: start;
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 0px;
}

.checkoutPage .title2 {
  margin-top: 0px;
  color: red;
  font-size: 17px;
}

.checkoutPage .inputCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkoutPage .inputCont input {
  width: 270px;
  height: 50px;
  padding-left: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.checkoutPage .nondeliveryItem {
  width: 98%;
  height: 40px;
  padding-left: 2%;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkoutPage .address {
  width: 98%;
  padding-left: 2%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.checkoutPage .errors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: red;
  row-gap: 5px;
}

.checkoutPage .typeOfPayment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.checkoutPage .typeOfPayment input {
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
}

.checkoutPage .typeOfPayment .type1, .checkoutPage .typeOfPayment .type2, .checkoutPage .typeOfPayment .type3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.checkoutPage .btnCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 20px;
}

.checkoutPage .loaderCont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkoutPage .moreAbout {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 200px;
  margin-top: 0px;
}

@media screen and (max-width: 650px) {
  .checkoutPage {
    width: 100%;
    height: 100vh;
    margin-top: 0px;
  }
  .checkoutPage form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .checkoutPage .inputCont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  .checkoutPage .inputCont input {
    width: 98%;
  }
  .checkoutPage .typeOfPayment {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 20px;
  }
  .checkoutPage .typeOfPayment .type1, .checkoutPage .typeOfPayment .type2, .checkoutPage .typeOfPayment .type3 {
    width: 45%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .checkoutPage .typeOfPayment .type1 label, .checkoutPage .typeOfPayment .type2 label, .checkoutPage .typeOfPayment .type3 label {
    width: 100px;
  }
  .checkoutPage .goToPayment {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 10px !important;
  }
}
/*# sourceMappingURL=checkoutPage.css.map */