.checkoutPage
{
    width: 598px;
    height: 500px;
    background-color: #fff;
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .goToPayment
    {
        border: none;
        width: 200px;
        height: 40px;
        border-radius: 25px;
        background-color: #085096;
        color: white;
        font-size: 18px;
        align-self: center;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .removeModalBtn 
    {
        float: right;
        border: none;
        font-size: 45px;
        color: rgba(0,0,0,0.5);
        transition: 0.2s color;
        background-color: transparent;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        &:hover 
        {
            color:  rgba(0,0,0,0.8);
            transition: 0.2s color;
        }
    }
    .title
    {
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 23px;
    }
    .inputCont
    {
        display: flex;
        width: 100%;
        justify-content: space-between;
        input 
        {
            width: 270px;
            height: 40px;
            padding-left: 10px;
            margin-left: 10px;
            border: 1px solid lightgray;
            border-radius: 5px;
        }
    }
    .address
    {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid lightgray;
    }
    .typeOfPayment
    {
        display: flex;
        justify-content: space-around;
        input 
        {
            width: 20px;
            height: 20px;
            margin: 0px;
            padding: 0px;
        }
        .type1 , .type2 , .type3
        {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }
    }
    .moreAbout 
    {
        align-self:flex-end;
        width: 200px;

    }
}