.comboPage {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.comboPage .topPart {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
  background-color: #fff;
  padding-top: 50px;
}

.comboPage .topPart .titleProducts {
  padding-left: 10px;
  width: 100%;
  height: auto;
}

.comboPage .topPart .titleProducts .category {
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comboPage .topPart .titleProducts .category span:nth-child(1) {
  opacity: 0.33;
  font-weight: 700;
}

.comboPage .topPart .titleProducts .categoryName {
  font-size: 33px;
  color: #3d332d;
}

.comboPage .topPart .titleProducts .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 10px;
}

.comboPage .topPart .titleProducts .tags .tag {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 10px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid lightgray;
  color: #3d332d;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

.comboPage .topPart .titleProducts .tags .tag:hover {
  background-color: #2d5d9b;
  color: white;
  border: 1px solid white;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.comboPage .titleProductsCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 10px;
}

.comboPage .titleProductsCont .dateAndItemCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comboPage .titleProductsCont .dateAndItemCont .forDates {
  width: 190px;
  height: 40px;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

.comboPage .titleProductsCont .dateAndItemCont .itemsNumber {
  font-weight: 700;
  opacity: 0.3;
}

.comboPage .titleProductsCont .selectionFilter {
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #3d332d;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.7;
}

.comboPage .titleProductsCont .selectionFilter::after {
  padding-top: 20px;
}

.comboPage .comboImage {
  width: 100%;
  height: 460px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.comboPage .comboDescription {
  text-align: center;
  font-family: 'DaxlineR';
  width: 100%;
  font-size: 20px;
}

.comboPage .comboItemsNum {
  text-align: start;
  font-family: 'DaxlineR';
  width: 100%;
  font-size: 24px;
  margin-bottom: 0px;
}

.comboPage .productsCont {
  margin-top: 30px;
  padding-left: 3%;
  padding-right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 94%;
  min-height: 410px;
  grid-gap: 18px;
  background-color: #edf4f6;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.comboPage .productsCont .loader {
  -ms-flex-item-align: top;
      -ms-grid-row-align: top;
      align-self: top;
}

.comboPage .buyComboCont {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: 'DaxlineR';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comboPage .buyComboCont span {
  margin-left: 10px;
  font-size: 33px;
  font-family: 'Courier New', Courier, monospace;
}

.comboPage .buyComboCont .buyCombo {
  width: 250px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  background-color: #2d5d9b;
  color: white;
}

.comboPage .buyComboCont .buyCombo:hover {
  background-color: #113d77;
}

@media screen and (max-width: 650px) {
  .productPage {
    width: 90%;
  }
}
/*# sourceMappingURL=combo.css.map */