.description 
{
    margin-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .descAbout
    {
        display: flex;
    }
    .part1
    {
        p 
        {
            margin: 0px;
        }
        .label
        {
            width: 200px;
            text-align: end;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.7);
        }
        .value 
        {
            width: 280px;
            margin-left: 10px;
            color: rgba(0, 0, 0, 0.7);

        }
        .textCont
        {
                display: flex;
                margin-bottom: 8px;
        }
    }

    .part2 
    {
        display: flex;
        .imgCont
        {
            width: 252px;
            height:252px;
            border-radius: 10px;
            margin-left: 20px;
        }
        .textCont
        {
            width: 200px;
            margin-left: 20px;
            .name 
            {
                font-size: 21px;
                opacity: 0.7;
                font-weight: 700;
                margin-bottom: 5px;
                margin-top: 0px;
            }
            .about 
            {
                font-size: 16px;
                opacity: 0.8;
            }
            .moreAbout 
            {
                color: rgba(0, 0, 0, 0.7);
                font-size: 16px;

            }
        }
    }//part2


    .similarProductsCont
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../images/element.png");
        background-repeat: no-repeat;
        background-size: 400px;
        background-position: 105% 120% ;

        .similarProducts
        {
            display: flex;
            column-gap: 10px;
            width: 100%;
            
            .itemCard
            {
                box-shadow: none;
                background-color: #fff;
                transform: scale(0.85);
                margin-left: -35px;
            }
        }
        .title
        {
            text-align: center;
            margin-top: 35px;
            margin-bottom: 0px;
            font-size: 24px;
            width: 690px;
            align-self: flex-start;
        }
    }

}

@media screen and (max-width:1100px) {
    .descAbout
    {
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: center;
    }
    .similarProductsCont
    {
        background-image: none !important;
        .title
        {
            margin-top: 25px;
            width: 100% !important;
        }
        .similarProducts
        {
            flex-direction: column;
            align-items: center;
            .itemCard
            {
                margin-left: 0px !important;
            }
        }
    }
}

@media screen and (max-width:509px) {
    .descAbout
    {
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: center;
        .part1 
        {
            width: 100%;
            .textCont
            {
                width: 95%;
                padding-left: 2.5%;
            }
            .label
            {
                text-align: start;
                width:auto !important;
            }
            .value 
            {
                width: 45% !important;
            }
        }
        .part2
        {
            flex-wrap: wrap;
            row-gap: 20px;
            justify-content: flex-start;
            padding-left: 2.5%;
            .imgCont
            {
                margin-left: 0px;
            }
            .textCont
            {
                margin-left: 0px;
            }
        }
        
        }
}