footer 
{
    width: 1300px;
    background-color: #edf4f6;
    border-radius: 20px 20px 0px 0px ;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding: 25px;
    h3 
    {
        font-family: "DaxlineR";
    }
    .footerCont 
    {
        display: flex;
        width: 1200px;
        justify-content: space-around;
    }
    .social
    {
        display: flex;
        column-gap: 30px;
    }
}

@media screen and (max-width:1350px) {
    footer 
    {
        width: 96%;
        .footerCont
        {
            width: 100%;
        }
    }
}
@media screen and (max-width:1250px) {
    footer 
    {
        width: 96%;
        padding: 2%;
        .footerCont
        {
            width: 100%;
            flex-wrap: wrap;
        }
    }
}
@media screen and (max-width:650px) {
    footer 
    {
        width: 96%;
        padding: 2%;
        font-family: "DaxlineR";
        h3 
        {
            font-size: 24px;
        }
        p 
        {
            font-size: 18px;
        }
        .footerCont
        {
            width: 100%;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;
            row-gap: 20px;
            .social
            {
                justify-content: center;
                align-items: center ;
                margin-top: 40px;
            }
        }
    }
}