footer {
  width: 1300px;
  background-color: #edf4f6;
  border-radius: 20px 20px 0px 0px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding: 25px;
}

footer h3 {
  font-family: "DaxlineR";
}

footer .footerCont {
  display: flex;
  width: 1200px;
  justify-content: space-around;
}

footer .social {
  display: flex;
  column-gap: 30px;
}
