
.ForgetPasswordPage
{
    width: 70%;
    min-height: 350px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-family: 'DaxlineR';
    .error
    {
        color: red;
    }
    .formSubmit
    {
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100%;
        // text-align: center;
        // row-gap: 20px;
        .title
        {
            margin: 0px !important;
            padding: 0px !important;
            text-align: center;
        }
        form 
        {
            width: 400px;
            label 
            {
                width: 100%;
                text-align: start;
                margin-top: 20px;
            }
            .FlexContPass
            {
                text-align: start;
                align-items: flex-start;
                margin-top:20px;
            }
            input 
            {
                width: 97%;
                padding-left: 3%;
                margin-top: 10px;
                padding-top: 4px;
                padding-bottom: 4px;
                height: 30px !important;
                font-size: 15px;
                border: 1px solid lightgray;
                border-radius: 10px;
                &:focus 
                {
                    outline: none;
                }
            }
            .submitBtn
            {
                height: 40px;
                border: 1px solid lightgray;
                background-color: #285999;
                color: white;
                font-size: 18px;
                font-family: 'DaxlineR';
                border-radius: 10px;
                width: 100%;
                align-self: flex-end;
            }
            .errors
            {
                margin-bottom: 20px;
            }
    
        }
    }


    @media screen and (max-width:400) {
        form 
        {
            width:95%
        }
    }
}