.itemCard {
  width: 268px;
  height: 410px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  -webkit-transition: 1s -webkit-box-shadow;
  transition: 1s -webkit-box-shadow;
  transition: 1s box-shadow;
  transition: 1s box-shadow, 1s -webkit-box-shadow;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.itemCard:hover {
  -webkit-box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 1s -webkit-box-shadow;
  transition: 1s -webkit-box-shadow;
  transition: 1s box-shadow;
  transition: 1s box-shadow, 1s -webkit-box-shadow;
}

.itemCard .imgCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 263px;
  padding-bottom: 5px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  border: none;
  padding: 0px !important;
  outline: none;
}

.itemCard .imgCont .overlayImg {
  width: 268px;
  border-radius: 20px 20px 0 0;
  height: 263px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5) !important;
  opacity: 0;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding: 0px;
}

.itemCard .imgCont .overlayImg button {
  position: absolute;
  pointer-events: all;
  border: none;
  background-color: transparent;
}

.itemCard .imgCont .iconAndBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.itemCard .imgCont .iconAndBtn .favIco {
  border: none;
  z-index: 3;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #f06279;
}

.itemCard .imgCont .iconAndBtn .favIco svg {
  color: white;
}

.itemCard .imgCont .iconAndBtn .increaseDecrease {
  border: none;
  z-index: 3;
  width: 80px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #275999;
}

.itemCard .imgCont .iconAndBtn .increaseDecrease .iBtn {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.itemCard .imgCont .iconAndBtn .increaseDecrease .dBtn {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.itemCard .imgCont .iconAndBtn .increaseDecrease .valueID {
  background-color: transparent;
  width: 30px;
  height: 30px;
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 18px;
}

.itemCard .imgCont .zoomIcon {
  border: none;
  background-color: transparent;
}

.itemCard .imgCont:hover .overlayImg {
  opacity: 1;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

.itemCard .imgCont:focus {
  outline: none;
  border: none;
}

.itemCard .imgCont .date {
  width: 25px;
  height: 25px;
  font-size: 9px;
  background-color: red;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  z-index: 3;
  margin-bottom: 5px;
}

.itemCard .imgCont .dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 263px;
}

.itemCard .imgCont .dates div:nth-child(1) {
  background-color: rgba(255, 142, 240, 0.8);
}

.itemCard .imgCont .dates div:nth-child(2) {
  background-color: rgba(162, 88, 255, 0.8);
}

.itemCard .imgCont .dates div:nth-child(3) {
  background-color: rgba(76, 195, 229, 0.8);
}

.itemCard .imgCont .dates div:nth-child(4) {
  background-color: rgba(237, 182, 0, 0.8);
}

.itemCard .imgCont .dates div:nth-child(5) {
  background-color: rgba(237, 182, 0, 0.8);
}

.itemCard .imgCont .dates div:nth-child(6) {
  background-color: rgba(255, 122, 44, 0.8);
}

.itemCard .imgCont .dates div:nth-child(7) {
  background-color: rgba(125, 191, 41, 0.8);
}

.itemCard p {
  margin: 0px;
  text-align: start;
}

.itemCard .titleItem {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 14px;
}

.itemCard .subTitleItem {
  margin-left: 10px;
  font-size: 12px;
  min-height: 16px;
}

.itemCard .textCont {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.itemCard .textCont .priceAndWeightItem .element1 {
  font-size: 20px;
}

.itemCard .textCont .priceAndWeightItem .element2 {
  font-size: 12px;
}

.itemCard .textCont .priceStriked {
  color: red;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.itemCard .textCont .priceUnderStrike {
  color: black;
}
/*# sourceMappingURL=itemCard.css.map */