.loginPage
{
    width: 310px;
    height: 400px;
    background-color: #ffffff;
    height: 449px;
    align-self: center;
    border-radius: 10px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    .buttonCont
    {
        align-self: flex-end;
        width: 40px;
    }
    .removeModalBtn 
    {
        float: right;
        border: none;
        font-size: 45px;
        color: rgba(0,0,0,0.5);
        transition: 0.2s color;
        background-color: transparent;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        margin-right: -30px;
        &:hover 
        {
            color:  rgba(0,0,0,0.8);
            transition: 0.2s color;
        }
    }
    .title
    {
        margin: 0px;
        align-self: center;
        font-size: 24px;
        margin-top: 20px;
    }
    .inputLogin
    {
        margin-top: 20px;
        width: 304px;
        height: 56px;
        font-size: 18px;
        padding-left: 20px;
        border: none;
        background-color: #F2F0ED;
        border-radius: 5px;
        align-self: center;
    }
    .moreAbout
    {
        width: 324px;
        height: 56px;
        margin-top: 20px;
        align-self: center;
    }
    .subTitle 
    {
        text-align: center;
        font-size: 14px;
    }
    .regBtn
    {
        border: none;
        color: #085096;
        font-size: 14px;
        background: transparent;
    }
    .errors
    {
        color: red;
        font-weight: 600;
        font-size: 16px;
        font-family: "DaxlineR";
        margin-top: 5px;
        margin-left: 5px;
        
    }
    .errorsAndForgot
    {
        font-family: "DaxlineR";
        display: flex;
        flex-direction: column;
        margin-top: 10px !important;
        .forgotPassBtn
        {
            border: none;
            font-size: 16px;
            background-color: transparent;
            font-family: 'DaxlineR';
            margin-top: 4px;
            color: #085096;
        }
    }
}