.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 40px;
  padding-left: 30%;
  padding-right: 30%;
  background: #e6e7e9;
  padding-top: 8px;
}

.navbar a {
  width: 100px;
  border-bottom: 8px solid transparent;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-family: serif;
  font-family: "DaxlineR";
}

.navbar a:hover {
  border-bottom: 8px solid gray;
  height: 100%;
}

.navbar .dropCont {
  width: 127px;
  padding-top: -1px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-family: serif;
  font-family: "DaxlineR";
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  height: 54px;
  border-bottom: 4px solid transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.navbar .dropCont .dropTitle {
  margin: 0px;
  margin-bottom: 4px;
}

.navbar .dropCont:hover {
  border-bottom: 4px solid gray;
  -webkit-transition: 0.01s all;
  transition: 0.01s all;
}

.navbar .dropCont:hover .dropMenu {
  opacity: 1;
  pointer-events: all;
  height: auto;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  height: 125px;
  margin-top: 185px;
}

.navbar .dropCont:hover .dropMenu p {
  margin: 0px;
  opacity: 1;
  border: 1px solid #2d5d9b;
  height: 70px;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.navbar .dropCont:hover .dropMenu p:nth-child(1) {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.navbar .dropCont:hover .dropMenu p:nth-child(2) {
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.navbar .dropCont:hover .dropMenu p:nth-child(3) {
  -webkit-transition: 1.2s all;
  transition: 1.2s all;
}

.navbar .dropCont .dropMenu {
  opacity: 1;
  pointer-events: none;
  height: 126px;
  width: 125px;
  margin-top: 160px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin-top: 70px;
  background-color: transparent;
  z-index: 123312;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .dropCont .dropMenu p {
  margin: 0px;
  height: 70px;
  color: white;
  width: 100%;
  text-align: center;
  background-color: #2d5d9b;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: top;
          transform-origin: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid transparent;
  opacity: 0;
}

.navbar .dropCont .dropMenu p:nth-child(3) {
  border-radius: 0px 0px 10px 10px;
}

.navbar .dropCont .dropMenu p:hover {
  background-color: white;
  color: #2d5d9b;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1391px) {
  .navbar {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
/*# sourceMappingURL=navbar.css.map */