.slick-slider 
{
    width: 100%;
}
.slick-next::before, .slick-prev::before
{
    color: black;
}

.slick-track
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-initialized .slick-slide
{
    display: flex;
    justify-content: center;

}
.slick-track
{
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (max-width:622px) {
    .slick-track
    {
        padding-top: 10px;
    }
    
}