.products
{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    grid-gap: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
    justify-content: center;
    .overlayImg
    {
        width: 12%;
    }
}