.products
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    margin-top: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
    .overlayImg
    {
        width: 12%;
    }
}