.productModal
{
    width: 1100px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #f0f4f5;
    border-radius: 20px;
    z-index: 1;
    .buttonCont
    {
        width: 100%;
        height: 50px;
    }

    .removeModalBtn 
    {
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        border: none;
        font-size: 45px;
        color: rgba(0,0,0,0.5);
        transition: 0.2s color;
        background-color: transparent;
        &:hover 
        {
            color:  rgba(0,0,0,0.8);
            transition: 0.2s color;
        }
    }
    
    .sliderAndAbout
    {
        display: flex;
        .sliderCont
        {
            width: 50%;
            margin-left: 30px;
            display: flex;
            justify-content: center;
            img 
            {
                width: 350px !important;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                margin-bottom: 10px;
            }
            .slick-next
            {
                margin-right: 50px;
            }
            .slick-prev
            {
                margin-left: 50px;
                z-index: 10000000;
            }
            .slick-track
            {
                padding-bottom: 0px;
            }
        }
        .aboutCont
        {
            width: 50%;
            display: flex;
            flex-direction: column;
            p 
            {
                margin: 0px;
            }
            .titleItem
            {
                font-size: 27px;
                color: #7dbf29;
                font-weight: bold;
                font-family: "DaxlineR";
            }
            .supllierName
            {
                font-size: 16px;
                color: #3b3b3b;
                font-weight: 700;
                opacity: 0.8;
            }
            .desc 
            {
                color: #585858;
                width: 400px;
                max-width: 400px;
            }
            
            .ingredients
            {
                margin-top: 20px;
                .ingredientsText
                {
                    font-size: 16px;
                    color: #3b3b3b;
                    font-weight: 700;
                    font-family: "DaxlineR";
                }
                .ingredientsFront
                {
                    opacity: 0.7;
                }
            }
            .priceCont
            {
                max-height: 40px;
                margin-top: 20px;
                .priceText
                {
                    font-size: 16px;
                    color: #3b3b3b;
                    font-weight: 700;
                    font-family: "DaxlineR";
                }
                .price 
                {
                    font-size: 20px;
                    font-weight: 700;
                    margin-left: 20px;
                    color: #525252;
                }
                .weight
                {
                    font-size: 20px;
                    font-weight: 700;
                    color: #525252;
                }
            }
            .buttonsCont
            {
                max-width: 400px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;

                .part1
                {
                    display: flex;
                }
                .decBtn
                {
                    border-radius: 10px 0px 0px 10px;
                    border: none;
                    background-color: #7dbf29;
                    border: 0;
                    display: inline-block;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    width: 40px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .valueBtn
                {
                    width: 50px;
                    height: 40px;
                    border: none;
                    background-color: #E4EEE4;
                    font-size: 20px;
                    color: #3b3b3b;
                    font-weight: 700;

                }
                .incBtn
                {
                    border-radius: 0px 10px 10px 0px;
                    border: none;
                    background-color: #7dbf29;
                    border: 0;
                    display: inline-block;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    width: 40px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .part2 
                {
                    .moreAbout 
                    {
                        width: 200px;
                    }
                }
            }
            .reviewCont
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                width: 400px;
                .starsAndReviews
                {
                    display: flex;
                }
                .reviewSendCont
                {
                    // display: none;
                    opacity: 0;
                    pointer-events: none;
                    transition: 0.3s all;
                    position: absolute;
                    margin-top: 30px;
                    background-color: white;
                    border-radius: 5px;
                    width: auto;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    box-shadow: 0px 0px 10000px 10000px rgba(0,0,0,0.5);
                    z-index: 100000000;
                    width: 380px;
                    overflow: hidden;
                    .buttonContReviewSend
                    {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        margin-top: -1px;
                        z-index: 2;
                        .rateCont
                        {
                            width: auto;
                            margin-left: 10px;
                            display: flex;
                            align-items: center;
                            column-gap: 5px;
                            font-size: 10px;
                        }
                        .Buttons 
                        {
                            margin-left: 10px;
                        }
                    }
                    textarea 
                    {
                        width: 95%;
                        border-radius: 0px;
                        border: 0px solid gray ;
                        height: 100px;
                        padding-top: 10px;
                        padding-left: 2.5%;
                        padding-right: 2.5%;
                        border-bottom: 1px dashed gray;
                        &:focus
                        {
                            outline: none;
                        }
                    }
                    .submit 
                    {
                        height: 33px;
                        border-radius: 0px;
                        border: none;
                        background-color: rgb(40, 89, 153);
                        color: white;

                    }
                    button 
                    {
                        width: 70px;
                        height: 33px;
                        border-radius: 0px;
                        border: none;
                        background-color: #ec6275;
                        color: white;
                    }
                }
                .stars 
                {
                    width: 150px;
                    justify-content: flex-start;
                    img 
                    {
                        width: 24px;
                    }
                }
                .favorites
                {
                    display: flex;
                    align-items: center;
                    color: #939598;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    svg 
                    {
                        margin-right: 5px;
                    }
                }
                .reviews
                {
                    color: #847a76;
                }
                
            }
        }
    }//Slider and About

    .btnContForLinks
    {
        padding-left: 2.5%;
        padding-right: 2.5%;
        margin-top: 20px;
        background-color: #f0f4f5;
        .button 
        {
            border: none;
            color: #aebaa3;
            padding: 15px;
            margin: 0px;
            font-size: 15px;
            background-color: rgba(0,0,0,0);
            margin: 1px;
            border: 1px solid transparent;
            border-bottom: 0px;
            margin-bottom: 0px;
            border-bottom:none ;
            color: #51c4e5;
            border-radius: 10px 10px 0px 0px;
            &:focus 
            {   
                outline: none;
            }
            &:hover 
            {
                background-color: rgba(0,0,0,0.1);
            }
        }
        
        
        
        hr 
        {
            margin: 0px;
            opacity: 0.3;
        }
    }
}


@media screen and (max-width:1100px) {
    .productModal
    {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #f0f4f5;
        border-radius: 0px;
        z-index: 1;
        
        .buttonCont
        {
            width: 100%;
            height: 50px;
        }

        .removeModalBtn 
        {
            float: right;
            margin-right: 10px;
            margin-top: 10px;
            border: none;
            font-size: 45px;
            color: rgba(0,0,0,0.5);
            transition: 0.2s color;
            background-color: transparent;
            &:hover 
            {
                color:  rgba(0,0,0,0.8);
                transition: 0.2s color;
            }
        }



        
        .sliderAndAbout
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-right: 0px;
            margin-right: 0px;
            width: 100%;
            .sliderCont
            {
                width: 100%;
                margin-left: 0px;
            }
            .aboutCont
            {
                width: 95%;
                padding-top: 30px;
                display: flex;
                
                .buttonsCont
                {
                    max-width: 100%;
                    column-gap: 20px;
                    flex-wrap: wrap;
                    row-gap: 20px;
                }
                .reviewCont
                {
                    flex-wrap: wrap;
                    height: 50px;
                    width: 100%;
                    row-gap: 10px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                .desc 
                {
                    width: 100%;
                }
            }
        }//Slider and About

    }
}