.productModal {
  width: 1100px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #f0f4f5;
  border-radius: 20px;
  z-index: 1;
}

.productModal .buttonCont {
  width: 100%;
  height: 50px;
}

.productModal .removeModalBtn {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
  font-size: 45px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
  background-color: transparent;
}

.productModal .removeModalBtn:hover {
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

.productModal .sliderAndAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productModal .sliderAndAbout .sliderCont {
  width: 50%;
  margin-left: 30px;
}

.productModal .sliderAndAbout .sliderCont .slick-next {
  margin-right: 50px;
}

.productModal .sliderAndAbout .sliderCont .slick-prev {
  margin-left: 50px;
  z-index: 10000000;
}

.productModal .sliderAndAbout .sliderCont .slick-track {
  padding-bottom: 0px;
}

.productModal .sliderAndAbout .aboutCont {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productModal .sliderAndAbout .aboutCont p {
  margin: 0px;
}

.productModal .sliderAndAbout .aboutCont .titleItem {
  font-size: 27px;
  color: #7dbf29;
  font-weight: bold;
  font-family: "DaxlineR";
}

.productModal .sliderAndAbout .aboutCont .supllierName {
  font-size: 16px;
  color: #3b3b3b;
  font-weight: 700;
  opacity: 0.8;
}

.productModal .sliderAndAbout .aboutCont .desc {
  color: #585858;
  width: 400px;
  max-width: 400px;
}

.productModal .sliderAndAbout .aboutCont .ingredients {
  margin-top: 20px;
}

.productModal .sliderAndAbout .aboutCont .ingredients .ingredientsText {
  font-size: 16px;
  color: #3b3b3b;
  font-weight: 700;
  font-family: "DaxlineR";
}

.productModal .sliderAndAbout .aboutCont .ingredients .ingredientsFront {
  opacity: 0.7;
}

.productModal .sliderAndAbout .aboutCont .priceCont {
  max-height: 40px;
  margin-top: 20px;
}

.productModal .sliderAndAbout .aboutCont .priceCont .priceText {
  font-size: 16px;
  color: #3b3b3b;
  font-weight: 700;
  font-family: "DaxlineR";
}

.productModal .sliderAndAbout .aboutCont .priceCont .price {
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
  color: #525252;
}

.productModal .sliderAndAbout .aboutCont .priceCont .weight {
  font-size: 20px;
  font-weight: 700;
  color: #525252;
}

.productModal .sliderAndAbout .aboutCont .buttonsCont {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.productModal .sliderAndAbout .aboutCont .buttonsCont .part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productModal .sliderAndAbout .aboutCont .buttonsCont .decBtn {
  border-radius: 10px 0px 0px 10px;
  border: none;
  background-color: #7dbf29;
  border: 0;
  display: inline-block;
  height: 40px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productModal .sliderAndAbout .aboutCont .buttonsCont .valueBtn {
  width: 50px;
  height: 40px;
  border: none;
  background-color: #E4EEE4;
  font-size: 20px;
  color: #3b3b3b;
  font-weight: 700;
}

.productModal .sliderAndAbout .aboutCont .buttonsCont .incBtn {
  border-radius: 0px 10px 10px 0px;
  border: none;
  background-color: #7dbf29;
  border: 0;
  display: inline-block;
  height: 40px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productModal .sliderAndAbout .aboutCont .buttonsCont .part2 .moreAbout {
  width: 200px;
}

.productModal .sliderAndAbout .aboutCont .reviewCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 400px;
}

.productModal .sliderAndAbout .aboutCont .reviewCont .starsAndReviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productModal .sliderAndAbout .aboutCont .reviewCont .stars {
  width: 150px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.productModal .sliderAndAbout .aboutCont .reviewCont .stars img {
  width: 24px;
}

.productModal .sliderAndAbout .aboutCont .reviewCont .favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #939598;
}

.productModal .sliderAndAbout .aboutCont .reviewCont .favorites svg {
  margin-right: 5px;
}

.productModal .sliderAndAbout .aboutCont .reviewCont .reviews {
  color: #847a76;
}

.productModal .btnContForLinks {
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-top: 20px;
  background-color: #f0f4f5;
}

.productModal .btnContForLinks .button {
  border: none;
  color: #aebaa3;
  padding: 15px;
  margin: 0px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0);
  margin: 1px;
  border: 1px solid transparent;
  border-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none;
  color: #51c4e5;
  border-radius: 10px 10px 0px 0px;
}

.productModal .btnContForLinks .button:focus {
  outline: none;
}

.productModal .btnContForLinks .button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.productModal .btnContForLinks hr {
  margin: 0px;
  opacity: 0.3;
}

@media screen and (max-width: 1100px) {
  .productModal {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #f0f4f5;
    border-radius: 0px;
    z-index: 1;
  }
  .productModal .buttonCont {
    width: 100%;
    height: 50px;
  }
  .productModal .removeModalBtn {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    border: none;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
    background-color: transparent;
  }
  .productModal .removeModalBtn:hover {
    color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
  }
  .productModal .sliderAndAbout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .productModal .sliderAndAbout .sliderCont {
    width: 100%;
    margin-left: 0px;
  }
  .productModal .sliderAndAbout .aboutCont {
    width: 95%;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .productModal .sliderAndAbout .aboutCont .buttonsCont {
    max-width: 100%;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
  .productModal .sliderAndAbout .aboutCont .reviewCont {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 50px;
    width: 100%;
    row-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .productModal .sliderAndAbout .aboutCont .desc {
    width: 100%;
  }
}
/*# sourceMappingURL=productModal.css.map */