.qualityPage
{
    width: 1200px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    .topPart
    {

        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        text-align: start;
        background-color: #fff;
        padding-bottom: 10px;
        padding-top: 50px;
        .titleProducts
        {
            width: 100%;
            height: auto;
            .category
            {
                margin-top: 0px;
                span 
                {
                    &:nth-child(1)
                    {
                        opacity: 0.33;
                        font-weight: 700;
                    }
                }
            }
            .categoryName
            {
                font-size: 33px;
                color: #3d332d;
            }
            
        }
    }//topPart

   
    .bannerWho
    {
        width: 94%;
        height: 184px;
        padding: 20px 3% 20px 3%;
        background-color: #1f62bb;
        display: flex;
        flex-direction:column;
        align-items: center;
        color: white;
        hr 
        {
            width: 45%;
        }
        .title 
        {
            font-size: 33px;
            font-family: 'DaxlineR';
            margin-bottom: 0px;
        }
        .text 
        {
            font-size: 21px;
            font-family: 'DaxlineR';
        }
        
    }

    .imgVideoText
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        row-gap: 20px;
        .img
        {
            width: 100%;
            border: 1px solid lightcoral;
            border-radius: 10px;
            margin-top: 30px;
            height: 267px;
        }
        iframe 
        {
            width: 100%;
            border: none;
        }
        hr 
        {
            width: 100%;
            border: none;
            height: 2px;
            background-color: #1f62bb;
        }
        .title 
        {
            font-size: 33px !important;
            font-family: 'DaxlineR' !important;
            margin-bottom: 0px !important;
        }
        .text
        {
            width: 100%;
            font-size: 18px;
            font-family: "DaxlineR";
            color: rgb(97, 96, 96);
        }
    }


    @media screen and (max-width:1011px) {
        width: 95%;
        text-align: center;
        .bannerWho
        {
            height: auto;
            hr 
            {
                width: 85%;
            }
        }

        .imgVideoText
        {
            iframe 
            {
                width: 100%;
            }
            hr 
            {
                width: 90%;
            }
            .text
            {
                width: 90%;
            }
        }
    }
}