.registrationPage
{
    width: 330px;
    background-color: #ffffff;
    align-self: center;
    border-radius: 10px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-top: 50px;
    display: flex;
    z-index: 1;
    flex-direction: column;
    .phoneCont
    {
        display: flex;
        color: black;
        input 
        {
            width: 285px !important;
        }
        span 
        {
            height: 38px;
            padding-left: 5px;
            background-color: #F2F0ED;
            border-radius: 5px;
            margin-right: -10px;
            font-family: "Arial";
            z-index: 2;
            display: flex;
            align-items: center;
        }
    }
    .addFile
    {
        margin: 0px;
        padding: 0px;
        border: none;
        background-color: #f2f0ed;
        border: 1px solid lightgray;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        height: 45px;
        .textPhoto
        {
            margin: 0px ;
            align-self: center;
            color: gray; 
            font-size: 15px;
            position: absolute;
            width: 100px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .addFileInput
        {
            opacity: 0;
            width: 100%;
            height: 100%;
        }
    }
    .MuiInputBase-root
    {
        background-color: #F2F0ED;
        border-radius: 5px;
        
    }
    .MuiInputBase-input 
    {
        height: 28px;
        -webkit-tap-highlight-color: transparent;
        padding-left: 20px;
        color: gray;
    }
    .MuiFormControl-marginNormal
    {
        margin-top: 0px;
    }
    .removeModalBtn 
    {
        float: right;
        border: none;
        font-size: 45px;
        color: rgba(0,0,0,0.5);
        transition: 0.2s color;
        background-color: transparent;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        margin-right: -30px;
        &:hover 
        {
            color:  rgba(0,0,0,0.8);
            transition: 0.2s color;
        }
    }
    .title
    {
        margin: 0px;
        align-self: center;
        font-size: 24px;
        margin-top: 20px;
    }
    .login
    {
        margin-top: 20px;
        width: 304px;
        font-size: 18px;
        height: auto;
        display: grid;
        grid-row-gap: 10px;
        font-family: 'DaxlineR';
        .value 
        {
            width: 304px;
            height: 36px;
            font-size: 15px;
            padding-left: 20px;
            border: none;
            background-color: #F2F0ED;
            border-radius: 5px;
            align-self: center;
            &:focus 
            {
                outline: none;
            }
        }
    }
    .moreAbout
    {
        width: 324px;
        height: 45px;
        margin-top: 30px;
        align-self: center;
    }
    .subTitle 
    {
        text-align: center;
        font-size: 14px;
    }
    .regBtn
    {
        border: none;
        color: #085096;
        font-size: 14px;
        background: transparent;
    }
    .fileInputButton
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
        background-color: #F2F0ED;
        margin: 0px;
        padding: 0px;
        border-radius: 5px;
        input 
        {
            opacity: 0;
            width: 100% !important;
            box-sizing: border-box;
        }
        .pText
        {
            position: absolute;
            align-self: center;
            font-size: 18px;
            margin: 0px !important;
            padding: 0px !important;
            color: gray;
            
        }
    }
    .submitBtn
    {
        margin-top: 20px;
        border: none;
        background-color: #085096;
        height: 40px ;
        font-size: 18px;
        border-radius: 5px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
    }
    .errors
    {
        font-size: 13px;
        color: red;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    .authType
    {
        display: flex;
        justify-content: space-around;
        .authTypeCh 
        {
            label 
            {
                color: gray !important;

            }
        }

    }

}