.suppliersCont
{
    width: 100%;
    display: flex;
    min-height: 400px;
    justify-content: center;
    margin-top: 20px;
    .skeletonCont 
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .skeleton
    {
        display: flex;
        flex-direction: column;
    }
    .category
    {
        margin-top: 0px;
        text-align: start;
        margin-top: 20px;
        span 
        {
            
                opacity: 0.33;
                font-weight: 700;
        }
    }
    .suppliersTitle
    {
        font-size: 48px;
        color: #3d3d3d;
    }
    .suppliers
    {
        width: 1200px;
        .supplier
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            grid-gap: 30px;
        }
    }
}

@media screen and (max-width:1300px) {
    .suppliers
    {
        padding-left: 2.5% !important ;
        padding-right: 2.5% !important ;
        width: 95% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        .category
        {
            align-self: flex-start;
        }
        .supplier
        {
            display: flex !important;
            grid-gap: 30px !important;
            flex-wrap: wrap !important;
            justify-content: center;
            margin-top: 20px;
        }
    }
}