.supplierCard2
{
    width: 225px;
    height: 330px;
    padding: 25px;
    background-color: #ffff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow:0px 3px 15px -3px rgba(0, 0, 0, 0.5);
    &:nth-child(odd)
    {
        transform: rotate(-0.5deg);
    }
    &:nth-child(even)
    {
        transform: rotate(0.6deg);
        margin-top: 50px;
    }
    &:hover 
    {
        .name 
        {
            color: #ff7a2c;
        }
        
    }

    .imgCont
    {
        width: 227px;
        height: 227px;
        transition: 0.5s background-size;
    }

    .name
    {
        font-size: 16px;
        font-weight: 700;
        color: #3d332d;
        opacity: 0.89;
        margin-top: 25px;
    }
    .desc 
    {
        font-size: 12px;
        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #585858;
        font-weight: 700;
        opacity: 0.6;
        margin-top: 10px;
    }
    .stars
    {
        transform: scale(1.3);
    }

}