.downPart {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  top: 0px;
  background-color: #fff;
}

.downPart #logoNehre {
  opacity: 0;
  pointer-events: none;
}

.downPart .downCont {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f0f4f5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.downPart .downCont .searchAndIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.downPart .downCont .inputAndIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  direction: ltr;
}

.downPart .downCont .searchIcon {
  margin-left: -35px;
  position: relative;
  right: 0px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.downPart .downCont input {
  padding: 10px;
  border-radius: 25px;
  width: 350px;
  border: none;
}

.downPart .downCont input:focus {
  outline: none;
}

.downPart .downCont .selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  grid-gap: 10px;
}

.downPart .downCont .selection a {
  width: 40px;
  height: 40px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 5px;
}

.downPart .downCont .selection a:nth-child(1) {
  background: url("../images/azn.png") no-repeat;
  background-size: cover;
}

.downPart .downCont .selection a:nth-child(2) {
  background: url("../images/dil.png") no-repeat;
  background-size: cover;
}

.downPart .downCont .selection a:nth-child(3) {
  background: url("../images/member.png") no-repeat;
  background-size: cover;
}

.downPart .downCont .selection a:nth-child(5) {
  background: url("../images/Sebet.png") no-repeat;
  background-size: cover;
}

.downPart .downCont .selection a:nth-child(4) {
  background-size: cover;
  background-color: #ec6275;
}

.downPart .downCont .selection a:nth-child(4) svg {
  width: 60px;
  height: 30px;
}

.downPart .downCont .selection a .shoppingBtn {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}
/*# sourceMappingURL=topNavbarPart2.css.map */